{% extends "facebook/base.html" %}
{% load crispy_forms_tags %}




 {% block content %} 
{% for post in posts %}

<div class="card" style="width: 35rem;">
<!--  <img class="card-img-top" src="..." alt="Card image cap">-->

        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.username.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ post.username }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <a class="article-content" href="{% url 'post-detail' post.id %}">{{ post.status }}</a>
          </div>
        </article>

        <small class="text-muted">Comments:</small>
          <!-- need to see here all the commpets of the post. -->


  <div class="card-body">
    <button type="button" class="btn bg-light" >Like</button>
    <a href="#" class="card-link"></a>  <!-- create empty space -->

  <div class="btn-group">
      <button type="button" class="btn bg-light">Comment</button>
      <button type="button" class="btn bg-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu">
        {% for comment in comments %}
        <a class="dropdown-item" href="#">{{ comment.option_1 }} ( PS: {{comment.PS}} , Burden: {{comment.burden}} , Benefit: {{comment.benefit}} )</a>
        <div class="dropdown-divider"></div>
        {% endfor%}
      </div>
  </div>


  </div>

</div>
    {% endfor %}

{% endblock %}