{% extends "facebook/base.html" %}
{% load crispy_forms_tags %}




 {% block content %} 
 

 <form action='' method="POST">
  {% csrf_token %}
 <div class="card text-white bg-secondary mb-3" style="width: 35rem;">    
            <article class="media content-section text-white bg-secondary mb-3">
              <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" >{{ user.username }}</a>
                </div>
                <div >What's on your mind, {{user.username}}?</div>
              </br>
                <div class="btn-group">
                  <select class="form-control form-control" name='user_option_on_feed'>
                    {% for status in mystatus %}
                    <option value ='{{ status.status_1 }}'>{{ status.status_1 }} ( PS: {{status.PS}} , Burden: {{status.burden}} , Benefit: {{status.benefit}} )</option>
                    {% endfor%}
                  </select>
                  </div>
                </div>
            </article>
            <div class="form-group">
                <div class="text-center"> 
                <button class="btn btn-light" type="submit">Publish</button>
                </div>
            </div>
</div>
<div  class="text-center mb-3">Feed</div>  

</form>


{% for post in posts %}

<div class="card mb-3"  style="width: 35rem">
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.username.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <form method="get" action="{% url 'manage_friends' operation='friend_requset' pk=post.username_id  %}">
                <!-- adding here the add friend button -->
                <a class="mr-2">{{ post.username }} </a>
                {% if post.username_id in friends %}
                <button type="button" class="btn-sm btn-info float-center"> <svg class="bi bi-person-check-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm9.854-2.854a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708L12.5 7.793l2.646-2.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                </svg> Is Your Friend
                </button>
                {%endif%}
                {% if post.username_id is not user.id and post.username_id not in list_friend_req and post.username_id not in friends %}
              <button type="submit" id='mybtn' name='add_friend_btn' class="btn-sm bg-light float-center"> <svg class="bi bi-person-plus-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm7.5-3a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
                </svg> Add Friend
              </button>
              {% endif%}
                {% if post.username_id in list_friend_req and post.username_id not in friends %}
                <button type="button" class="btn-sm btn-info float-center"> <svg class="bi bi-person-check-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm9.854-2.854a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708L12.5 7.793l2.646-2.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                </svg> Friend requst Sent
                </button>
              {% endif%}
              
            </form>
          </div>
            <a class="article-content">{{ post.status }}</a>
            <!-- if we want with like to post-detail -->
           </div>
        
        </article>
        <div>
    <div class="card-body">
  <form action="{% url 'like_post' %}" method="POST">
    {% csrf_token %}
    {%if post.id not in posts_user_liked %}
    <button type="submit" name='post_id' value="{{ post.id }}" class="btn btn-outline-secondary" >Like </button>
    {{post.total_likes}}
    {%else%}
    <button type="button" class="btn btn-outline-success">Liked</button>
    {{post.total_likes}}
    {%endif%}
  </form>
  </div>

</div>


</div>
    {% endfor %}
    

{% endblock %}