{% extends "facebook/base.html" %}


{% block createpost %}
<form action='' id='create_post_id' method="POST">
{% csrf_token %}
 <div class="card text-white bg-secondary mr-3" style="width: 35rem ; margin-top: 1.5em;">    
            <article class="media content-section text-white bg-secondary mb-3">
              <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2">Create Post</a>
                </div>
                <div >What's on your mind, {{user.username}}?</div>
              </br>
                <div class="btn-group">
                  <select class="form-control form-control" name='user_option'>
                    {% for status in mystatus %}
                    <option value ='{{ status.status }}'>{{ status.status }} ( PrivacyLoss: {{status.PrivacyLoss}} , Burden: {{status.burden}} , Benefit: {{status.benefit}} )</option>
                    {% endfor%}
                  </select>
                  </div>
                </div>
            </article>
            <div class="form-group">
                <div class="text-center"> 
                <button class="btn btn-light" type="submit">Publish</button>
                </div>
            </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>

</script>

</form>
 {% endblock %}