{% extends "facebook/base.html" %}


 {% block createpost %}
<form action='' method="POST">
  {% csrf_token %}
 <div class="card text-white bg-secondary mr-3" style="width: 35rem;">    
            <article class="media content-section text-white bg-secondary mb-3">
              <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2">Create Post</a>
                </div>
                <div >What's on your mind, {{user.username}}?</div>
              </br>
                <div class="btn-group">
                  <select class="form-control form-control" name='user_option'>
                    {% for status in mystatus %}
                    <option value ='{{ status.status_1 }}'>{{ status.status_1 }} ( PrivacyLoss: {{status.PrivacyLoss}} , Burden: {{status.burden}} , Benefit: {{status.benefit}} )</option>
                    {% endfor%}
                  </select>
                  </div>
                </div>
            </article>
            <div class="form-group">
                <div class="text-center"> 
                <button class="btn btn-light" type="submit">Publish</button>
                </div>
            </div>
</div>
</form>
 {% endblock %}