{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'facebook/style.css' %}">

    {% if title %}
        <title>Facebook Simulation - {{title}}</title>
    {% else %}
        <title>Facebook Simulation</title>
    {% endif %}
</head>
<body>
  <header class="site-header">
    
      <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #3B5998; flex-wrap: wrap;">
        <a class="navbar-brand mr-4" style="color: aliceblue;">Facebook Simulator</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
           <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
             <a class="nav-link" href="index.html">
               <i class="fa fa-fw fa-dashboard"></i>
            </a>
           </li>
         </ul>
         <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <!-- <a class="nav-item nav-link" href="{% url 'facebook-home' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> -->
          {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
         </ul>
       </div>
     </nav>
          <div class="col-md" style="margin-left: 27em;">
        <form method="POST" action="{% url 'info' %}">
            {% csrf_token %}
                <a style="font-size:30px" style="margin-top: 1em;" >Your Username On Facebook is:</a>
                <a style="font-size:30px" class="text-primary"> {{user_pick}}</a>
                <div>
                   <br> 
                </div>
                <a style="font-size:14px" class="text-primary"> You will be transferred to the simultion session in a few moments, please wait</a>
            </div>
        </form>

                
              
    </header>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  
    <script>
flag_waiting = true; // for debug mode - put it false
      Time_waiting = 70

if(flag_waiting){
      if(location =='http://34.89.133.90/'){
        WaitFun();            
      }
      }
      function WaitFun() {
      var width = 0;
      var id = setInterval(frame, Time_waiting);
      function frame() {
        if (width >= Time_waiting) {
            clearInterval(id);  
            $(location).prop('href','/waiting');
      
        } else {
            width++; 
        }
      }
      }

    </script>
